:root {
    --main-font-size: 16px;
    --background-color: #1F2937;
    --quote-background-color: #E5E7EB;
    --accent-color: #3882F6;
    --main-text-color: #F9FAF8;
    --secondary-text-color: #E5E7EB;
    --alternate-text-color: #1F2937;
}

* {
    box-sizing: border-box;
    overflow: hidden; /*TEMP*/
}

html {
    height: 100%;
    font-size: var(--main-font-size);
    font-family: Roboto, system-ui;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--main-text-color);
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
}

a, a:visited {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}

.header__logo {
    font-size: 1.5rem;
}

.header__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.header__link {
    font-size: 1.125rem;
}

.hero-section__description {
    font-size: 1.125rem;
    color: var(--secondary-text-color);
}
